html {
    font-family: raleway, sans-serif;
}

:root {
    --cl-white: white;
    --cl-black: black;
    --cl-light-grey: hsl(0, 0%, 95%);
    --cl-dark-grey: hsl(0, 0%, 10%);
    --cl-blue-light: hsl(187, 25%, 35%);
    --cl-blue-dark: hsl(187, 83%, 14%);
    --c-green-light: hsl(31, 39%, 49%);
    --cl-green-dark: hsl(25, 36%, 32%);

    --cl-background: var(--cl-light-grey);
    --cl-background-accent: var(--cl-white);
    --cl-foreground: var(--cl-black);

    --cl-accent-light: var(--c-green-light);
    --cl-accent-dark: var(--cl-green-dark);
    --cl-input-light: var(--cl-blue-light);
    --cl-input-dark: var(--cl-blue-dark);
}

@font-face {
    font-family: raleway;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
  }

body {
    display: flex;
    justify-content: center;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
}

body > * {
    flex: 1;
    height: 100vh;
}

a {
    color: var(--cl-accent-dark);
    font-weight: bold§;
}

a:hover {
    color: var(--c-accent-light);
}

#sidebar {
    position: relative;
    max-width: 40vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(135deg, hsl(180, 80%, 30%), hsl(165, 80%, 60%));
    background-image: url(./images/sidebar-img.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

figure {
    position: absolute;
    top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding: 2rem 0;
    background-color: hsl(0, 0%, 0%, 0.5);
}

#sidebar img {
    max-width: 50%;
    max-height: 200px;
}

form {
    display: grid;
    background-color: var(--cl-background);
}

form > * {
    padding: 2rem;
}

#inputs {
    padding: 0.5rem 2rem;
    background-color: var(--cl-background-accent);
    box-shadow: 2px 2px 4px hsl(0, 0%, 50%, 0.5);
}

#inputs ul {
    display: grid;
    grid-auto-rows: 1fr;
    grid-template-columns: auto auto;
}

label {
    display: block;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

input[type="button"] {
    cursor: pointer;
    padding: 16px 64px;
    background-color: var(--cl-accent-dark);
    border: none;
    border-radius: 0.3rem;
    color: white;
    box-shadow: 2px 2px 4px hsl(0, 0%, 50%, 0.5);
    transition: box-shadow 200ms, transform 200ms, background-color 200ms;
}

input[type="button"]:hover {
    background-color: var(--cl-accent-light);
}

input[type="button"]:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 4px hsl(0, 0%, 50%, 0.5);
}

input:not([type="button"]) {
    appearance: none;
    border: solid hsl(0, 0%, 90%) 0.1rem;
    border-radius: 4px;
    padding: 0.2rem;
    transition: border 200ms, box-shadow 200ms;
}

input:not([type="button"]):focus {
    border: solid var(--cl-input-light) 0.1rem;
    box-shadow: 2px 2px 2px hsl(0, 0%, 80%, 0.5);
}

/* input:not([type="button"]):valid {
    border: solid var(--cl-accent-dark) 0.1rem;
    box-shadow: 2px 2px 2px hsl(0, 0%, 80%, 0.5);
} */