html {
    font-family: sans-serif;
}

:root {
    --cl-accent-dark: hsl(25, 36%, 32%);
    --c-accent-light: hsl(31, 39%, 49%);
}

body {
    display: flex;
    justify-content: center;
}

body > * {
    flex: 1;
    height: 100vh;
}

a {
    color: var(--cl-accent-dark);
    font-weight: bold;
}

a:hover {
    color: var(--c-accent-light);
}

#sidebar {
    position: relative;
    max-width: 40vw;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(135deg, hsl(180, 80%, 30%), hsl(165, 80%, 60%));
    background-image: url(./images/sidebar-img.jpeg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

figure {
    position: absolute;
    top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: auto 0;
    padding: 2rem 0;
    background-color: hsl(0, 0%, 0%, 0.5);
}

#sidebar img {
    max-width: 50%;
    max-height: 200px;
}

#sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
}

#sign-up h1,
#sign-up h2, 
#sign-up p {
    padding: 0 2rem;
}

ul {
    padding: 2rem;
    background-color: white;
    box-shadow: 0 2px 8px hsl(0, 0%, 50%, 0.5);
}

input[type="button"] {
    cursor: pointer;
    margin: 0 2rem;
    padding: 16px 64px;
    background-color: var(--cl-accent-dark);
    border: none;
    border-radius: 0.3rem;
    color: white;
    box-shadow: 2px 2px 4px hsl(0, 0%, 50%, 0.5);
    transition: box-shadow 200ms, transform 200ms, background-color 200ms;
}

input[type="button"]:hover {
    background-color: var(--c-accent-light);
}

input[type="button"]:active {
    transform: translate(2px, 2px);
    box-shadow: 0px 0px 4px hsl(0, 0%, 50%, 0.5);
}